<h1>All Campaigns</h1>
<% @campaigns.each do |campaign| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to campaign.title, campaign %>
      </h4>
    </div>
  </div>
<% end %>
